<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ru-RU</string>
	<key>CFBundleDisplayName</key>
	<string>Moca.kz</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>kz.turganbekuly.apron.ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>moca</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>Configuration.AMPLITUDE_API_KEY</key>
	<string>b9670c28b10d266c93cd05f2fadda282</string>
	<key>Configuration.APPMETRICA_API_KEY</key>
	<string>f7e85fd4-4794-4b7b-a47c-ddc4c3f7f0ea</string>
	<key>Configuration.APPSFLYER_DEV_KEY</key>
	<string>Qq2h88bEK2xFLpte8YBKUo</string>
	<key>Configuration.APP_ID</key>
	<string>1626436370</string>
	<key>Configuration.BASE_URL</key>
	<string>104.248.249.70/receipts/</string>
	<key>Configuration.DEEPLINK_BASED_URL</key>
	<string>moca.kz</string>
	<key>Configuration.HTTP</key>
	<string>http://</string>
	<key>Configuration.MIXPANEL_API_KEY</key>
	<string>9909fda9ea3b836b747832479b34a9e3</string>
	<key>Configuration.ONE_SIGNAL_APP_ID</key>
	<string>401c4ecc-4999-4327-bded-d5ebd939d9b4</string>
	<key>Configuration.OPENAI_API_KEY</key>
	<string>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</string>
	<key>Configuration.SENTRY_URL</key>
	<string>https://7d5b77ad9ba841fe9300861282741c5d@o4504897920106496.ingest.sentry.io/4504897921089536</string>
	<key>Configuration.WEB_BASED_URL</key>
	<string>apron.ws</string>
	<key>FacebookAppID</key>
	<string>534377055292946</string>
	<key>FacebookDisplayName</key>
	<string>Moca</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAdvertisingAttributionReportEndpoint</key>
	<string>https://appsflyer-skadnetwork.com/</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Разрешите приложению доступ к камере телефона для создания снимков.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Разрешите приложению использовать Face ID/Touch ID для быстрой и удобной аутентификации.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Разрешите приложению доступ к геолокации.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Разрешите приложению доступ к галерее для загрузки фото и видео.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Разрешите приложению доступ для предоставления вам персонализированных рецептов</string>
	<key>OneSignal_suppress_launch_urls</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
