<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771247649131-hnjt5ahmtp9p83fk9q83guio405spq56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771247649131-hnjt5ahmtp9p83fk9q83guio405spq56</string>
	<key>API_KEY</key>
	<string>AIzaSyCfGS2p5VXqaMhgnXOxb6yQlI_xKCvecAU</string>
	<key>GCM_SENDER_ID</key>
	<string>771247649131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kz.turganbekuly.apron.ios</string>
	<key>PROJECT_ID</key>
	<string>apron-b1e20</string>
	<key>STORAGE_BUCKET</key>
	<string>apron-b1e20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771247649131:ios:eca640909dffa7fe445c2e</string>
</dict>
</plist>